button {
    width: 100px;
    height: 30px;
    font-weight: bold;
    background-color: black;
    color: white;
    border: 1px solid black;
    cursor: pointer;
    box-shadow: 0 0 5px 5px #2e2e2e;
    position: relative;
}

button:active {
    box-shadow: -2px -2px 5px 5px #2e2e2e;
    top: 2px;
}

button:disabled {
    background-color: #5b5b5b;
}
